<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head(~{::title})">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 引入css -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/me.css" />
        <title>归档 | 老庞</title>
</head>

<body>

        <!-- 导航 -->
        <nav th:replace="_fragments :: menu(4)" class="ui inverted  segment m-padded-tb-mini  m-shadow-small">
                <!-- 头部container容器 -->
                <div class="ui contaniner">
                        <!-- 
                                1、stackable：响应式导航可自动收缩
                         -->
                        <div class="ui inverted secondary stackable menu">
                                <!-- 
                                        teal ：颜色
                                -->
                                <h2 class="ui teal header item">MyBlog</h2>
                                <a href="#" class="m-item item m-mobile-hide"> <i class="home icon"></i>首页</a>
                                <a href="#" class="m-item item m-mobile-hide"> <i class="idea icon"></i>分类</a>
                                <a href="#" class="m-item item m-mobile-hide"> <i class="tags icon"></i> 标签</a>
                                <a href="#" class="m-item item m-mobile-hide"> <i class="clone icon"></i> 归档</a>
                                <a href="#" class="m-item item m-mobile-hide"> <i class="info icon"></i> 关于我</a>
                                <div class="right m-item item m-mobile-hide">
                                        <div class="ui icon transparent inverted input">
                                                <input type="text" placeholder="Search...">
                                                <i class="icon link search"></i>
                                        </div>
                                </div>
                        </div>
                </div>
                <a href="#" class="ui button black icon menu toggle m-right-top m-mobile-show">
                        <i class="sidebar icon"></i>
                </a>
        </nav>


        <div class="aftertype">
                <h3>归档</h3>
        </div>

        <!-- 中间内容 -->
        <div class="m-padded-tb-big m-container-tiny">
                <div class="ui container">
                    <!-- Header -->
                    <div class="ui top padded">
                        <!-- 注意grid要写在column后面 不然会效果失效 -->
                            <div class="ui middle aligned two column grid ">
                                    <div class="column">
                                            <h3 class="ui m-white header">归档</h3>
                                    </div>
                                    <div class=" right aligned column m-999">
                                            共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${blogCount}">14</h2> 个
                                    </div>
                            </div>
                    </div>


                        <th:block th:each="item : ${archiveMap}">
                                <h2 class="ui center aligned header" th:text="${item.key}" style="color: white;font-size: 1.3em;font-weight: bold">2017</h2>
                                <div class="ui fluid vertical menu m-background m-opacity-tiny wow animate__animated animate__fadeInUpBig">
                                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}"  style="" class="item left-to-right" th:each="blog : ${item.value}">
                                          <span>
                                            <i class="mini orange circle icon"></i><span style="padding-left:10px;color: white" th:text="${blog.title}">关于刻意练习的清单</span>
                                            <div class="ui teal left pointing label m-padded-mini " th:text="${#dates.format(blog.updateTime,'YYYY-MM-dd')}">9月03</div>
                                          </span>
                                                <div class="ui orange basic left pointing label m-padded-mini " th:text="${blog.flag}">原创</div>
                                        </a>

                                </div>
                        </th:block>


                </div>
        </div>


        <!--    背景轮播    -->
        <div th:replace="_fragments :: bgCover" >
        </div>

        <br>
        <br>
        <br>
        <br>

        <!-- 右下导航菜单 -->
        <div th:replace="_fragments :: toolbar" id="toolbar" class="ui vertical icon buttons m-fixed m-right-bottom" style="display: none !important;">
                <button type="button" class="ui black toc button">目录</button>
                <a href="#comment-container" class="ui black button">留言</a>
                <button class="ui white  wechat button"><i class="weixin icon"></i></button>
                <button id="toTop-button"  class="ui white button"><i class="chevron up icon"></i></button>
        </div>

        <!-- 底部 -->
        <footer th:replace="_fragments :: footer" class="ui inverted vertical stackable segment m-padded-tb-massive">
                <div class="ui  center aligned container">
                <!-- 
                    1、inverted：用来反转颜色
                    2、divided：分割线
                    3、grid：与bootstarp的row类似，共分为16块
                    4、three wide column：每列站3块撑满
                    5、ui medium rounded  image：给图片加圆角
                 -->
                        <div class="ui inverted divided stackable grid">
                                <div class="three wide column">
                                        <div class="ui inverted link list">
                                                <div class="item">
                                                        <img src="../static/images/wechat.jpg" class="ui  rounded  image" alt=""
                                                                style="width: 110px;">
                                                </div>
                                        </div>
                                </div>
                                <div class="four wide column">
                                        <h4 class=" ui inverted header m-text">最新博客</h4>
                                        <div class="ui inverted link list">
                                                <a href="#" class="item">xxxx</a>
                                                <a href="#" class="item">xxxx</a>
                                                <a href="#" class="item">xxxx</a>
                                        </div>
                                </div>
                                <div class="four wide column">
                                        <h4 class=" ui inverted header m-text">联系我</h4>
                                        <div class="ui inverted link list">
                                                <a href="#" class="item">xxxx</a>
                                                <a href="#" class="item">xxxx</a>
                                                <a href="#" class="item">xxxx</a>
                                        </div>
                                </div>
                                <div class="five wide column">
                                        <h4 class=" ui inverted header m-text">Blog</h4>
                                        <p class="m-text">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                                </div>
                        </div>

                        <!-- 分割线 -->
                        <div class="ui inverted section divider"></div>
                        <!-- 底部备案信息 -->
                        <p class="m-text ">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>

                </div>
        </footer>

        <!--/*/<th:block th:replace="_fragments :: script">/*/-->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!--/*/</th:block>/*/-->

        <script>
                $(function(){
                        $('.menu.toggle').click(function(){
                                $('.m-item').toggleClass("m-mobile-hide");
                        })
                })
        </script>
</body>

</html>